h1
{
  color:red;
}

#topHeading
{
  background-color:purple;
  padding:50px;
  border: 1px solid blue;
}

.splashimage
{
  background-image: url("../jamaican photo.jpg");
padding-top: 200px;
padding-bottom:200px;
  color:red;
  font-size:20px;
  font-family:sans-serif;
  text-align: center;
  font-weight: bold;
}
body
{
  color: yellow;
}
